<div id="dashboard">
    <div class="dashgrid">
        <div class="fontsty">
            <div class="iconsize"><i class="fa fa-bell" aria-hidden="true"></i></div>
            <h4>Registration:</h4>
            <h4>124</h4>
        </div>
    </div>

    <div class="dashgrid">
        <div class="fontsty">
            <div class="iconsize"><i class="fa fa-check-circle-o" aria-hidden="true"></i></div>
            <h4>Online:</h4>
            <h4>92</h4>
        </div>
    </div>

    <div class="dashgrid">
        <div class="fontsty">
            <div class="iconsize"><i class="fa fa-taxi" aria-hidden="true"></i></div>
            <h4>Moving:</h4>
            <h4>92</h4>
        </div>
    </div>

    <div class="dashgrid">
        <div class="fontsty">
            <div class="iconsize"><i class="fa fa-sellsy" aria-hidden="true"></i></div>
            <h4>Idle:</h4>
            <h4>92</h4>
        </div>
    </div>

    <div class="dashgrid">
        <div class="fontsty">
            <div class="iconsize"><i class="fa fa-opencart" aria-hidden="true"></i></div>
            <h4>Offline</h4>
            <h4>90</h4>
        </div>
    </div>
</div>

<div style="clear:both;"></div>


<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div id="mapCanvas" style="width:489px;height:400px;"></div>
    </div>
    <div class="col-4"></div>
</div>
<div style="clear:both;"></div>
<br>
<div style="text-align: center;">
    <button type="button" [routerLink]="['/']" class="btn btn-primary">Back</button>
</div>
<br>